/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la vista de mesas */
.mesas2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mesa2 {
    border: 2px solid #41D320;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mesa-table2 {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.mesa-header2, .mesa-cell2 {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-size: 1rem;
}

.mesa-header2 {
    color: #BFBFBF;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.mesa-name2 {
    color: #229306;
    font-size: 1.6rem;
    font-weight: bold;
}

.mesa-cell2:last-child {
    border-right: none;
}

.mesa-table2 tr:last-child .mesa-cell2 {
    border-bottom: none;
}

.pedido-enviado2 input[type="checkbox"] {
    display: none;
}

.pedido-enviado2 input[type="checkbox"] + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #41D320;
    border: 2px solid #41D320;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.pedido-enviado2 input[type="checkbox"] + label::after {
    content: "";
    display: none;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pedido-enviado2 input[type="checkbox"]:checked + label::after {
    display: block;
}

.plato2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tiempo-transcurrido2 {
    font-size: .9rem;
    color: red;
    margin: .5rem 0;
}

.tr-mesas {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalles-container {
    display: none; /* Asegúrate de que este estilo se aplique cuando el modal esté cerrado */
}

/* Estilo para el botón circular */
.circle-button {
    background-color: #28a745; /* Verde */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%; /* Hace que el botón sea circular */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-button svg {
    fill: white;
}

/* Contenedor de la tabla de comandas */
#tabla-comandas-container {
    max-height: 600px; /* Limita la altura máxima del contenedor */
    overflow-y: auto;  /* Añade scroll vertical si el contenido supera la altura */
    margin-bottom: 20px; /* Espacio inferior para separación visual */
    width: 100%; /* Fija el ancho del contenedor */
}

/* Estilos para la tabla de comandas */
.table-wrapper {
    width: 100%;
    height: 100%; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Permite scroll vertical */
    overflow-x: hidden; /* Oculta scroll horizontal */
    -ms-overflow-style: none;  /* Oculta scrollbar en IE y Edge */
    scrollbar-width: none;  /* Oculta scrollbar en Firefox */
}

.table-wrapper::-webkit-scrollbar {
    display: none;  /* Oculta scrollbar en Chrome, Safari y Opera */
}

.table {
    width: 100%;
    max-width: 100%;
    table-layout: auto; /* Distribución automática */
    border-spacing: 0;
    overflow-y: auto; /* Permite scroll vertical */
}

.thTableHead {
    font-size: 1rem;
    color: #D82135;
    font-weight: bold;
    border-bottom: 3px solid #FCC329;
    vertical-align: middle;
    height: 4rem;
    padding: 0.5rem;
}

td, .thBody {
    font-size: 1rem;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #BFBFBF;
    padding: 0.5rem;
    word-wrap: break-word; /* Ajusta el texto a la celda */
    word-break: break-word; /* Rompe el texto para evitar desbordamiento */
    overflow-y: auto; /* Oculta el desbordamiento */
    white-space: normal; /* Ajusta el espacio en blanco dentro de las celdas */
}

/* Estilo para el contenedor de mesas */
#mesas-view {
    width: 100%; /* Fija el ancho del contenedor */
    height: 100%; /* Ajusta la altura según sea necesario */
    max-height: 600px; /* Limita la altura máxima del contenedor */
    overflow-y: auto;  /* Permite scroll vertical si el contenido supera la altura */
    overflow-x: hidden; /* Oculta scroll horizontal */
    padding: 10px; /* Espacio alrededor para mejor visualización */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    -ms-overflow-style: none;  /* Oculta scrollbar en IE y Edge */
    scrollbar-width: none;  /* Oculta scrollbar en Firefox */
}

#mesas-view::-webkit-scrollbar {
    display: none;  /* Oculta scrollbar en Chrome, Safari y Opera */
}

/* Estilo para las tarjetas de mesa */
.mesa-card {
    width: 300px; /* Tamaño fijo o relativo según tu diseño */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Clase para ocultar elementos */
.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
}
